################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Investec.Webservice/.vs/Investec.Webservice
/Investec.Webservice/obj
